<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ssafy.home.favorite.repository.FavoriteMapper">

    <insert id="insertFavorite">
        INSERT INTO favorite (member_id, estate_id)
        VALUES (#{memberId}, #{estateId})
    </insert>

    <delete id="deleteFavorite">
        DELETE
        FROM favorite
        WHERE member_id = #{memberId}
          AND estate_id = #{estateId}
    </delete>


    <select id="findFavorite" resultType="com.ssafy.home.domain.Favorite">
        SELECT fid, member_id AS memberId, estate_id AS estateId, created_at AS createdAt, updated_at AS updatedAt
        FROM favorite
        WHERE member_id = #{memberId}
          AND estate_id = #{estateId}
    </select>

    <select id="findAllFavorite" resultType="com.ssafy.home.favorite.dto.FavoriteResponse">
        SELECT f.fid,
               f.member_id  AS memberId,
               f.estate_id  AS estateId,
               f.created_at AS createdAt,
               f.updated_at AS updatedAt,
               e.broker_id  AS brokerId
        FROM favorite f
                 JOIN
             estate e ON f.estate_id = e.eid
        WHERE f.member_id = #{memberId}
    </select>

</mapper>
