<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ssafy.home.auth.repository.BrokerMapper">
    <insert id="insertBroker" parameterType="com.ssafy.home.auth.domain.Broker">
        INSERT INTO broker (bid, office_name, broker_name, phone_num, address, license_num, password, salt, email
        <if test="profileImageUrl != null">
            , profile_image_url
        </if>)
        VALUES (#{bid}, #{officeName}, #{brokerName}, #{phoneNum},
        #{address}, #{licenseNum}, #{password}, #{salt},
        #{email}
        <if test="profileImageUrl != null">
            , #{profileImageUrl}
        </if>)
    </insert>

    <select id="findById" parameterType="String" resultType="com.ssafy.home.auth.domain.Broker">
        SELECT * FROM broker WHERE bid = #{id}
    </select>

    <update id="updateLastLogin">
        UPDATE member
        SET last_login = NOW()
        WHERE mid = #{id}
    </update>
</mapper>