<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ssafy.home.auth.repository.MemberMapper">
    <insert id="insertMember" parameterType="com.ssafy.home.domain.Member">
        INSERT INTO member (mid, password, salt, email, phone_num, name
        <if test="profileImageUrl != null">
            , profile_image_url
        </if>)
        VALUES (#{mid}, #{password}, #{salt}, #{email}, #{phoneNum}, #{name}
        <if test="profileImageUrl != null">
            , #{profileImageUrl}
        </if>)
    </insert>

    <select id="findById" parameterType="String" resultType="com.ssafy.home.domain.Member">
        SELECT * FROM member WHERE mid = #{id}
    </select>

    <update id="updateLastLogin">
        UPDATE member
        SET last_login = NOW()
        WHERE mid = #{id}
    </update>


</mapper>