<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ssafy.home.estate.repository.EstateMapper">
    <insert id="insertEstate" useGeneratedKeys="true">
        INSERT INTO estate
            (broker_id, apt_seq, type, floor, total_floor, area, amount, `desc`)
        VALUES
            (#{brokerId}, #{brokerEstate.aptSeq}, #{brokerEstate.type},
             #{brokerEstate.floor}, #{brokerEstate.totalFloor}, #{brokerEstate.area},
             #{brokerEstate.amount}, #{brokerEstate.desc})
    </insert>

    <insert id="insertEstateImages">
        <if test="imageUrls != null and imageUrls.size > 0">
            INSERT INTO estate_images (estate_id, image_url)
            VALUES
            <foreach collection="imageUrls" item="imageUrl" separator=",">
                (#{estateId}, #{imageUrl})
            </foreach>
        </if>
    </insert>


    <select id="selectEstateDetail" resultType="com.ssafy.home.estate.dto.EstateDetailResponse">
        SELECT e.eid,
               e.type,
               e.status,
               e.floor,
               e.total_floor,
               e.area,
               e.amount,
               e.desc,
               e.estate_image,
               e.broker_id,
               b.office_name,
               b.phone_num,
               b.address,
               b.license_num,
               h.apt_nm,
               h.build_year,
               h.road_nm,
               h.road_nm_bonbun
        FROM broker b,
             estate e,
             houseinfos h
        WHERE e.eid = #{eid}
          AND e.apt_seq = h.apt_seq
          AND b.bid = e.broker_id
    </select>

    <!-- Select Estate -->
    <select id="selectEstate" resultType="com.ssafy.home.estate.dto.Estate">
        SELECT *
        FROM estate
        WHERE eid = #{id}
    </select>

    <update id="updateEstate">
        UPDATE estate
        SET type=#{request.type},
            amount=#{request.amount},
            floor=#{request.floor},
            total_floor=#{request.totalFloor},
            area=#{request.area},
            `desc`=#{request.desc}
        WHERE eid = #{request.eid}
    </update>

    <delete id="deleteEstate">
        DELETE
        FROM estate
        WHERE eid = #{eid}
    </delete>

    <delete id="deleteEstateImage">
        DELETE
        FROM estate_images
        WHERE estate_id = #{estateId}
    </delete>

    <!-- broker id 조회 -->
    <select id="findBrokerIdByEstateId" resultType="java.lang.String">
        SELECT broker_id
        FROM estate
        WHERE eid = #{estateId}
    </select>

    <select id="getEstateListByRegionCode">
        SELECT e.*, h.latitude, h.longitude
        FROM estate e
                 JOIN houseinfos h ON e.apt_seq = h.apt_seq
        WHERE h.sgg_cd = #{sgg}
          AND h.umd_cd = #{umd}
          AND e.status = '판매중'
    </select>

    <select id="getEstateListByPosition">
        SELECT e.*,  h.latitude, h.longitude
        FROM estate e
                 JOIN houseinfos h ON e.apt_seq = h.apt_seq
        WHERE h.latitude BETWEEN #{latMin} AND #{latMax}
          AND h.longitude BETWEEN #{lngMin} AND #{lngMax}
    </select>

    <select id="findAll" resultType="com.ssafy.home.estate.dto.Estate">
        SELECT *
        FROM estate
        WHERE broker_id = #{bid}
    </select>

</mapper>
