<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ssafy.home.estate.repository.EstateMapper">
    <resultMap id="findEstate" type="com.ssafy.home.estate.dto.EstateFindResponse">
        <id property="eid" column="estate_id"/>
        <result property="brokerId" column="broker_id"/>
        <result property="aptSeq" column="apt_seq"/>
        <result property="type" column="type"/>
        <result property="status" column="status"/>
        <result property="floor" column="floor"/>
        <result property="totalFloor" column="total_floor"/>
        <result property="area" column="area"/>
        <result property="amount" column="amount"/>
        <result property="description" column="desc"/>
        <result property="image" column="estate_image"/>
        <result property="createdAt" column="created_at"/>
        <result property="updatedAt" column="updated_at"/>

        <collection property="estateImage" ofType="com.ssafy.home.estate.dto.EstateImageResponse">
            <id property="imageId" column="image_id"/>
            <result property="imageUrl" column="image_url"/>
            <result property="createdAt" column="image_created_at"/>
        </collection>
    </resultMap>

    <resultMap id="estateWithImagesResultMap" type="com.ssafy.home.estate.dto.EstateFindResponse">
        <id property="eid" column="estate_id"/>
        <result property="brokerId" column="broker_id"/>
        <result property="aptSeq" column="apt_seq"/>
        <result property="type" column="type"/>
        <result property="status" column="status"/>
        <result property="floor" column="floor"/>
        <result property="totalFloor" column="total_floor"/>
        <result property="area" column="area"/>
        <result property="amount" column="amount"/>
        <result property="description" column="desc"/>
        <result property="image" column="estate_image"/>
        <result property="createdAt" column="created_at"/>
        <result property="updatedAt" column="updated_at"/>

        <collection property="estateImage" ofType="com.ssafy.home.estate.dto.EstateImageResponse">
            <id property="imageId" column="image_id"/>
            <result property="imageUrl" column="image_url"/>
            <result property="createdAt" column="image_created_at"/>
        </collection>
    </resultMap>


    <insert id="insertEstate">
        INSERT INTO estate
        (broker_id, apt_seq, type, floor, total_floor, area, amount, `desc`
        <if test="image != null">
            , estate_image
        </if>)
        VALUES
        (#{brokerId}, #{brokerEstate.aptSeq}, #{brokerEstate.type},
        #{brokerEstate.floor}, #{brokerEstate.totalFloor}, #{brokerEstate.area},
        #{brokerEstate.amount}, #{brokerEstate.desc}
        <if test="image != null">
            , #{image}
        </if>)
    </insert>


    <insert id="insertEstateImages">
        <if test="imageUrls != null and imageUrls.size > 0">
            INSERT INTO estate_images (estate_id, image_url)
            VALUES
            <foreach collection="imageUrls" item="imageUrl" separator=",">
                (#{estateId}, #{imageUrl})
            </foreach>
        </if>
    </insert>


    <select id="selectEstateDetail" resultType="com.ssafy.home.estate.dto.EstateDetailResponse">
        SELECT e.eid,
               e.type,
               e.status,
               e.floor,
               e.total_floor,
               e.area,
               e.amount,
               e.desc,
               e.estate_image,
               e.broker_id,
               b.office_name,
               b.phone_num,
               b.address,
               b.license_num,
               h.apt_nm,
               h.build_year,
               h.road_nm,
               h.road_nm_bonbun,
               FALSE AS favoriteStatus
        FROM broker b,
             estate e,
             houseinfos h
        WHERE e.eid = #{eid}
          AND e.apt_seq = h.apt_seq
          AND b.bid = e.broker_id
    </select>


    <select id="selectEstateDetailWithMember" resultType="com.ssafy.home.estate.dto.EstateDetailResponse">
        SELECT e.eid,
               e.type,
               e.status,
               e.floor,
               e.total_floor,
               e.area,
               e.amount,
               e.desc,
               e.estate_image,
               e.broker_id,
               b.office_name,
               b.phone_num,
               b.address,
               b.license_num,
               h.apt_nm,
               h.build_year,
               h.road_nm,
               h.road_nm_bonbun                                               AS roadNmNo,
               IF(#{memberId} IS NULL, FALSE, IF(f.fid IS NULL, FALSE, TRUE)) AS favoriteStatus
        FROM broker b
                 JOIN
             estate e ON b.bid = e.broker_id
                 JOIN
             houseinfos h ON e.apt_seq = h.apt_seq
                 LEFT JOIN
             favorite f ON e.eid = f.estate_id AND f.member_id = #{memberId}
        WHERE e.eid = #{eid}
    </select>

    <select id="selectEstateWithImages" resultMap="findEstate">
        SELECT e.eid         AS estate_id,
               e.broker_id,
               e.apt_seq,
               e.type,
               e.status,
               e.floor,
               e.total_floor,
               e.area,
               e.amount,
               e.`desc`,
               e.estate_image,
               e.created_at,
               e.updated_at,
               ei.image_id,
               ei.image_url,
               ei.created_at AS image_created_at
        FROM estate e
                 LEFT JOIN estate_images ei ON e.eid = ei.estate_id
        WHERE e.eid = #{id}
    </select>


    <update id="updateEstate">
        UPDATE estate
        SET type=#{request.type},
            amount=#{request.amount},
            floor=#{request.floor},
            total_floor=#{request.totalFloor},
            area=#{request.area},
            `desc`=#{request.desc}
        WHERE eid = #{request.eid}
    </update>

    <delete id="deleteEstate">
        DELETE
        FROM estate
        WHERE eid = #{eid}
    </delete>

    <delete id="deleteEstateImage">
        DELETE
        FROM estate_images
        WHERE estate_id = #{estateId}
    </delete>

    <!-- broker id 조회 -->
    <select id="findBrokerIdByEstateId" resultType="java.lang.String">
        SELECT broker_id
        FROM estate
        WHERE eid = #{estateId}
    </select>

    <select id="getEstateListByRegionCode">
        SELECT e.*, h.latitude, h.longitude
        FROM estate e
                 JOIN houseinfos h ON e.apt_seq = h.apt_seq
        WHERE h.sgg_cd = #{sgg}
          AND h.umd_cd = #{umd}
          AND e.status = '판매중'
    </select>

    <select id="getEstateListByPosition">
        SELECT e.*,  h.latitude, h.longitude
        FROM estate e
                 JOIN houseinfos h ON e.apt_seq = h.apt_seq
        WHERE h.latitude BETWEEN #{latMin} AND #{latMax}
          AND h.longitude BETWEEN #{lngMin} AND #{lngMax}
    </select>

    <select id="findAll" resultType="com.ssafy.home.estate.dto.Estate">
        SELECT *
        FROM estate
        WHERE broker_id = #{bid}
    </select>


    <!-- 찜한 매물 목록과 각 매물의 이미지 조회 쿼리 -->
    <select id="findFavorites" parameterType="String" resultMap="estateWithImagesResultMap">
        SELECT e.eid         AS estate_id,
               e.broker_id,
               e.apt_seq,
               e.type,
               e.status,
               e.floor,
               e.total_floor,
               e.area,
               e.amount,
               e.`desc`,
               e.estate_image,
               e.created_at,
               e.updated_at,
               ei.image_id,
               ei.image_url,
               ei.created_at AS image_created_at
        FROM favorite f
                 JOIN estate e ON f.estate_id = e.eid
                 LEFT JOIN estate_images ei ON e.eid = ei.estate_id
        WHERE f.member_id = #{memberId}
        ORDER BY e.eid, ei.image_order ASC
    </select>

</mapper>
